<div align="center">  
<h3>Busqueda...</h3>
<center>
<div class="span12">

<h1>Listar terminos</h1>

<center><table class="table table-bordered">
  <tr>
    <th>Nombre</th>
    <th>Descripcion Resumida</th>
    <th>Descripcion Detallada</th>
    <th>Categoria al que pertence</th>
    <th>Experto</th>
    <th>Fecha creacion</th>
    <th>última actualización</th>
    <th></th>
  </tr>

<% @terminos.each do |termino| %>
  <tr>
    <td><%= termino.nombre %></td>
    <td><%= termino.descripcion_r %></td>
    <td><%= termino.descripcion_d %></td>
    <td><%= termino.categoria.nombre %></td>
    <td><%= termino.user.name %></td>
    <td><%= termino.created_date %></td>
    <td><%= termino.updated_date %></td>
    <td class="btn btn-mini"><%= link_to 'Editar', edit_termino_path(termino) %></td>
    <td class="btn btn-mini"><%= link_to 'Borrar', termino, method: :delete, data: { confirm: 'Esta seguro de Eliminar este Termino?' } %></td>
  </tr>
<% end %>
</table></center>

<br />