

<p>
  <b>Nombre:</b>
  <%= @categoria.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @categoria.descripcion %>
</p>

<p>
  <b>Created date:</b>
  <%= @categoria.created_date %>
</p>

<p>
  <b>Updated date:</b>
  <%= @categoria.updated_date %>
</p>


<%= link_to 'Editar', edit_categoria_path(@categoria) %> |
<%= link_to 'Atras', categorias_path %>
