
<center><table class="table table-bordered">
  <tr>
    <th>Nombre</th>
    <th class="hidden-phone">Descripcion Detallada</th>
    <th>Descripcion Resumida</th>
    <th class="hidden-phone">Categoria al que pertence</th>
    <th class="hidden-phone">Experto que lo creo</th>
    <th class="hidden-phone">Fecha de Creacion</th>
    <th class="hidden-phone">Ultima Actulizacion</th>
    
  </tr>

  <tr>
    <td><%= @termino.nombre %></td>
    <td class="hidden-phone"><%= @termino.descripcion_r %></td>
    <td><%= @termino.descripcion_d %></td>
    <td class="hidden-phone"><%= @termino.categoria.nombre %></td>
    <td class="hidden-phone"><%= @termino.user.name %></td>
    <td class="hidden-phone"><%= @termino.created_date.strftime("%d/%b/%Y") %></td>
    <td class="hidden-phone"><%= @termino.updated_date.strftime("%d/%b/%Y") %></td>
    
  </tr>
  

</table></center>